[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11"
djangorestframework = ">=3.8.*"
whitenoise = "*"
gunicorn = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
"psycopg2" = "*"
dj-database-url = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.6"
